@import "./variables";
@import "./responsive";

.header {
    background: linear-gradient(rgba(14, 14, 14, 1), rgba(14, 14, 14, 0.9));
    background-size: cover;
    border-bottom: 0.156rem solid $blanco;
    display: flex;
    justify-content: center;
    box-shadow: $sombra-negra;
    width: 100vw;
    z-index: 9999;
    position: fixed;
    &__navegacion {
        width: 97vw;
        background: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.4rem 0rem;

        @include tablet {
            padding: 0.4rem 0.6rem 0rem 1.2rem;
            width: 100vw;
        }

        &--logoimg {
            height: 3rem;
            filter: grayscale(100%);

            @include laptop {
                height: 2.3rem;
            }

            @include tablet {
                display: none;
            }
        }
        
        &--logoimg-mb {
            display: none;
            
            @include tablet {
                display: block;
                height: 2.8rem;
                margin: 0.6rem 0.3rem 0.3rem 0.3rem;
            }

        }


        &--menu {
            z-index: 999;
            display: flex;
            top: 0;
            transition: all ease .3s;

            @include tablet {
                flex-direction: column;
                justify-content: flex-start;
                text-align: center;
                overflow: hidden;
                position: fixed;
                font-size: 160%;
                box-shadow: $sombra-negra;
                background: linear-gradient(rgba(14, 14, 14, 1), rgba(14, 14, 14, 0.9));
                background-size: cover;
                background-position: center;
                top: 4.48rem;
                left: 100%;
                width: 100%;
                height: calc(100vh - 4.48rem);
            }

        }
        
        &--menu-mobile {
            @include tablet {
                left: 0;
            }
        }
        // Menu Hamburguesa

        #btn-menu {
            display: none;
            background: none;
            border: none;
            outline: none;
            cursor: pointer;
            margin-right: 2.2rem;
            height: 1.875rem;
            width: 30px;
            position: relative;
            transition: all ease .3s;

            @include tablet {
                display: block;
            }
        }
        

        #btn-logo {
            background: none;
            border: none;
            outline: none;
            cursor: pointer;
        }

        #btn-contact{
            background: none;
            color: $blanco;
            border: none;
            outline: none;
            cursor: pointer;

            &:active, 
            &:visited, 
            &:hover {
                color: $negro;
            }
        }

        &--lineas {
            position: absolute;
            content: "";
            background: $blanco;
            width: 30px;
            height: 3px;
            border-radius: $borde-redondeado;
            transition: all ease .3s;
        }

        &--linea-1 {
            top: 0;
        }
        &--linea-2 {
            top: 10px;
        }

        &--linea-3 {
            top: 20px;
        }

        .l1-active {
            transform: rotate(-140deg);
            top: 10px;
        }
        .l2-active {
            opacity: 0;
        }
        .l3-active {
            transform: rotate(140deg);
            top: 10px;
        }


        // Sub Menu

        &--link-menu {
            display: block;
            padding: 0.4rem 0.8rem;
            color: $blanco;
            border-radius: $borde-redondeado;
            font-size: 140%;
            letter-spacing: 1px;
            transition: ease all .3s;

            @include laptop {
                padding: 0.4rem 0.4rem;
            }

            @include tablet {
                margin: 0.625rem 0rem;
                background: none;
                border: $borde-blanco;
                box-shadow: $sombra-negra;
                border-radius: $borde-redondeado;
            }
            
            &:hover {
                background: $blanco;
                box-shadow: $sombra-negra;
                border-radius: $borde-redondeado;
                color: $negro;
            }
        }

        &--item-menu:hover &--menu {
            visibility: visible;
            opacity: 1;
        }
    }

}

