// Colores
$blanco : #fff;
$negro : #000;
$blanco-texto : #ccc;
$gris-oscuro : #141414;
$amarillo : #dba520;

// Bordes
$borde-blanco : 1px solid #fff;
$borde-blanco-2 : 1px solid #ccc;
$borde-negro : 1px solid #000;
$borde-redondeado : 5px;

// Sombras
$sombra-negra : 1px 1px 15px 0 #000;

// Margins - Paddings
$margin-titulo : 9.375rem;
$padding-titulo : 0.625rem;